<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
		                   http://www.springframework.org/schema/context
		                   http://www.springframework.org/schema/context/spring-context.xsd
		                   http://www.springframework.org/schema/aop
		                   http://www.springframework.org/schema/aop/spring-aop.xsd
		                   http://www.springframework.org/schema/tx
		                   http://www.springframework.org/schema/tx/spring-tx.xsd
		                   http://www.springframework.org/schema/data/jpa
		                   http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">


    <!-- 默认的注解映射的支持 -->
    <context:annotation-config/>

    <!-- 启动对@AspectJ注解的支持  -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <context:property-placeholder ignore-unresolvable="true" ignore-resource-not-found="true" location="classpath:*.properties"/>


    <context:component-scan base-package="com.nwpu.bishe">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"></context:exclude-filter>
    </context:component-scan>

    <!-- 定义实体管理器工厂（value就是） -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="asd"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <!-- 启用 annotation事务-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 配置Spring Data JPA扫描目录(根据自己的目录情况定义，就是 extends CrudRepository<HtmEntity,Integer>那个类所在的包，切记)-->
    <jpa:repositories base-package="com.nwpu.bishe.core.jpa"/>

    <import resource="applicationContext-datasource.xml" />
    <import resource="applicationContext-jpa.xml" />

</beans>