<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- ======================================= -->
	<!-- 配置数据库连接池 -->
	<!-- ======================================= -->

	<bean id="abstractDataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close" abstract="true">
		<property name="testWhileIdle" value="true" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="validationQueryTimeout" value="1000" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="300" />
		<property name="jdbcInterceptors" value="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState" />
	</bean>

	<bean id="piaoDataSource" parent="abstractDataSource">
		<property name="name" value="piao" />
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${piao.db.url}" />
		<property name="username" value="${piao.db.username}" />
		<property name="password" value="${piao.db.password}" />
		<property name="maxActive" value="${db.maxPoolSize}" />
		<property name="maxIdle" value="${db.maxPoolSize}" />
		<property name="initialSize" value="${db.initialPoolSize}" />
		<property name="minIdle" value="${db.initialPoolSize}" />
		<property name="maxWait" value="${db.timeout}" />
	</bean>


	<bean id="piaoJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="piaoDataSource" />
	</bean>


	<!-- geely.wu2016年03月21日,增加namedParameterJdbcTemplate,供springjdbc in使用,消除sql注入的隐患 -->
	<bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg type="org.springframework.jdbc.core.JdbcOperations" ref="piaoJdbcTemplate" />
	</bean>

	<bean id="jdbcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="piaoDataSource" />
	</bean>

</beans>
